.orange-bg {
  background-color: orange;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 100px;
  margin-bottom: 150px;
}

.cadastro-card {
  max-width: 400px;
  width: 90%;
}

.have-account 
{
  --color: white;
  --ion-item-color: white;
}

ion-card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
