
<ion-content>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Inicío</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="account">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>